body{
	background: #eee;
}
#form{
	border: solid grey 1px;
	width: 20%;
	border-radius: 10px;
	margin: 100px auto;
	background: white;
}

#btn{
	color: #fff;
	background: #337ab7;
	padding: 5px;
	margin-left: 69%;
}
#placeholder{
	color: #ccc;
}

}